<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="{{base_url()}}/assets/css/bootstrap.css" rel="stylesheet">
 
    <link href="{{base_url()}}/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />  
    <!-- Custom styles for this template -->
    <link href="{{base_url()}}/assets/css/style.css" rel="stylesheet">
</head>
<body style="
	background-image: url({{base_url()}}/assets/img/404page.jpg);
	background-size:70%;
	background-repeat: no-repeat;
	background-position: 50% -20%;
	background-color: #2e1f46;
">
{% include 'templates/partials/navigationpolos.twig' %}
</body>
</html>